.profile__edit-button {
    display: flex;
    padding: 0;
    grid-row-start: 1;
    grid-column-start: 2;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
    align-self: center;
    cursor: pointer;
    transition: opacity .5s ease;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 680px) {
    .profile__edit-button {
        grid-area: check;
        background-size: 50%;
        margin: 0;
        margin-right: 19px;
        grid-area: name;
        justify-self: start;
        grid-row: 1;
        grid-column: 2;
        align-self: center;
        width: 18px;
        height: 18px;
    }
}