.popup__exit {
    padding: 0;
    background: url(../../../images/close.svg);
    border: none;
    height: 32px;
    width: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity .6s ease;
}

.popup__exit:hover {
    opacity: .6;
}

@media screen and (max-width: 560px) {
    .popup__exit {
        background: url(../../../images/close_mobile.svg);
        width: 20px;
        height: 20px;
        top: -32px;
        right: 0px;
    }
}