.profile__info {
    display: grid;
    grid-template-columns: fit-content(336px) min-content;
    flex-grow: 1;
    gap: 16px 18px;
    margin-left: 30px;
}

@media screen and (max-width: 680px) {
    .profile__info {
        grid-template-columns: 1fr min-content;
        grid-template-areas: 'name check'
                             'hobby check';
        gap: 14px 10px;
        margin-top: 26px;
        justify-content: center;
        max-height: 54px;
        margin-left: calc(30px + 15px);
    }
}