.footer {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 880px) {
    .footer {
        margin-top: 48px;
        margin-left: 19px;
        margin-right: 19px;
        padding-bottom: 36px;
    }
}